* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}
html{
    scroll-behavior: smooth;
}

/*Header*/
.header {
    background: #0c7b93;
    color: #fff;
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
#logo {
    width: 40px;
    margin-top: 1px;
    margin-left: 10px;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 16px;
}
.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.nav-list a:hover {
    color: #0f4c75;
    text-decoration: underline;
}
.menu {
    display: none;
}

/*Inicio(Video)*/
.inicio {
    scroll-margin-top: 200px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background: transparent;
    overflow: hidden;
}
.inicio-video {
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.inicio-texto {
    max-width: 600px;
    padding: 32px;
}
.inicio-texto h2 {
    font-size: 40px;
    margin-bottom: 16px;
}
.inicio-texto p {
    font-size: 20px;
    margin-bottom: 32px;
}
.button {
    background: #0c7b93;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s ease;
}
.button:hover {
    background: #58a4b0;
}

/*Sección Eventos*/
.eventos {
    scroll-margin-top: 70px;
    padding: 64px 32px;
    text-align: center;
    background: #fff;
}
.eventos-ruleta {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}
.eventos-carrusel {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.eventos-item {
    background: #f4f4f9;
    border-radius: 10px;
    padding: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    transition: transform 0.5s ease;
    margin: 0 10px;
}
.eventos-item:hover {
    transform: scale(1.05);
}
.eventos-item i {
    font-size: 40px;
    margin-bottom: 16px;
    color: #0c7b93;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #0c7b93;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 10px;
}
.prev:hover, .next:hover {
    background-color: #0c7a93a7;
    color: #fff;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*Sección Menus*/
.menus {
    scroll-margin-top: 70px;
    padding: 64px 32px;
    text-align: center;
}
.menus h2 {
    padding-bottom: 30px;
}
.menus-img {
    display: flex;
    gap: 23px; 
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 16px;
}
.contenedor {
    position: relative;
    width: 200px;
    height: auto;
}
.menu-img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    transition: transform 0.5s ease; 
}
.menu-img:hover {
    transform: scale(1.05);
}

/*Sección Galeria*/
.galeria {
    scroll-margin-top: 70px;
    padding: 40px 32px;
    text-align: center;
    background: #fff;
}
.galeria h2 {
    padding-bottom: 30px;
}
.galeria-img {
    display: flex;
    gap: 16px; 
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 16px;
}
.contenedor {
    position: relative;
    width: 200px;
    height: auto;
}
.galeria-img img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    transition: transform 0.5s ease; 
}

/*Overlay de las img*/
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0c7b93; 
    width: 100%;
    height: 0;
    transition: height 0.6s ease;
    overflow: hidden; 
    border-radius: 0px 0px 10px 10px;
}
.contenedor:hover .overlay {
    height: 40%; 
}
.desc {
    color: #f4f4f9;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Sección Contacto*/
#contacto {
    text-align: center;
    padding: 64px 32px;
    background: #0c7b93;
    color: #fff;
}
#contacto p{
    padding-bottom: 20px;
}
#contacto .button {
    background: #fff;
    color: #0c7b93;
}
#contacto .button:hover{
    background: #cfcfcf;
}

/*Sección Footer*/
.footer {
    background: #333;
    color: #fff;
    padding: 32px 16px;
    text-align: center;
}
.iconos a {
    margin: 0 8px;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}
.iconos a:hover {
    color: #58a4b0;
}

/*modal*/
.modal {
    display: none; /* Invisible en principio */
    position: fixed; /* Se queda en el lugar */
    z-index: 1; /* Por encima de todo*/
    padding-top: 150px; /* localizacion */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa la pantalla */
    height: 100%; 
    overflow:hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* negro con opacidad */
}
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 500px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Responsive*/
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

@media (max-width: 768px) {
    .galeria-img img {
        flex: 0 0 23%;;
        border-radius: 10px;
        width: 200px;
    }
    .galeria-img {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 10px; 
        max-width: 100%; 
        height: auto; 
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 90%;
        max-width: 400px;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        gap: 8px;
    }
    .galeria-img img {
        flex: 0 0 23%;;
        border-radius: 10px;
    }
    .galeria-img {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 10px; 
        max-width: 100%; 
        height: auto; 
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 90%;
        max-width: 350px;
        margin-top: 50px;
    }
    .close {
        position: absolute;
        top: 150px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .menu {
        display: block;
        background-color: transparent;
        color: #f1f1f1;
        padding: 16px;
        font-size: 16px;
        border: none;
        margin-right: 10px;
    }
    .nav-list {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100px;
        z-index: 1;
    }  
    .nav-list a {
        color: #0c7b93;
        padding: 12px 16px;

        display: block;
    }
    .nav-list a:hover {background-color: #f1f1f1;}
    .nav:hover .nav-list {display: block;}
    .nav:hover .menu {background-color: #58a4b0;}
}